* {
  margin: 0;
  padding: 0; }

body {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-image: url(/styles/images/fondogral.gif);
  background-size: cover; }
  body .header__container {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    margin-bottom: 50px; }
    body .header__container .logo {
      width: 50vw; }
  body .inscripcion {
    display: flex;
    margin-bottom: 50px; }
    body .inscripcion__container {
      border: 2px dashed red;
      width: 90vw;
      height: 30vh;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      body .inscripcion__container__btn .botoncito {
        background-color: black;
        width: 10%;
        height: 50px;
        text-decoration: none; }
  body .redes {
    margin-bottom: 50px;
    width: 90vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    body .redes__title {
      text-align: center; }
    body .redes__container {
      width: 90vw;
      height: 50px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-around; }
      body .redes__container__icons .fab {
        color: black; }
  body .tour {
    border: 1px solid green;
    margin-bottom: 50px;
    justify-content: center;
    width: 80vw;
    height: 15vh; }
    body .tour__video {
      border: 1px solid blue;
      width: 80vw;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      body .tour__video div {
        width: 20vw;
        text-align: center; }
  body .gallery {
    border: 1px dashed red;
    display: flex;
    width: 90vw;
    margin-bottom: 30px; }
    body .gallery__container {
      border: 1px dashed blue;
      width: 100%; }
      body .gallery__container .carousel .d-block {
        height: 300px; }
  body footer {
    width: 90vw;
    display: flex;
    flex-flow: row wrap; }
    body footer .footer__container {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      justify-content: space-between; }
      body footer .footer__container__contact {
        font-size: 12px; }
      body footer .footer__container__map {
        border-left: 1px solid black; }

.quienes {
  display: flex;
  justify-content: center;
  width: 90vw; }
  .quienes__container {
    display: flex;
    width: 90vw;
    flex-flow: row wrap; }
    .quienes__container__content {
      text-align: justify; }
      .quienes__container__content .title {
        border: 1px solid blue; }
      .quienes__container__content .text .bold {
        font-weight: bold; }
      .quienes__container__content .special {
        border: 1px solid black;
        text-transform: uppercase; }
    .quienes__container__aside {
      border: 1px solid black;
      width: 90vw;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around; }
      .quienes__container__aside__img {
        border: 1px solid red;
        width: 400px;
        max-height: 400px; }
        .quienes__container__aside__img .aside--img {
          max-width: 400px;
          max-height: 400px; }

/*# sourceMappingURL=styles.css.map */
